<div class="container-fluid" id="gifs-div">
  <% @gifs_all = @gifs.to_a %>
  <% while !@gifs_all.empty? %>
    <% @gifs = [] %>
    <% 4.times do %>
      <% if !@gifs_all.empty? %>
        <% gif = @gifs_all.shift() %>
        <% @gifs << gif %>
      <% end %>
    <% end %>
    <div class="row">
      <%= render :partial => "gifs/gif", :collection =>@gifs %>
    </div>
  <% end %>
</div>
