// Place all the styles related to the Gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.gif-container{
  height:200px;
}

.gif-container a img{
  margin-top: 15px;
  max-height: 70%;
}
.front-page-score{
  color:white;
}
.front-page-tags{
  color:white;
}
